<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.djelectro.as139233">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/custom_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/custom_launcher_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".LookingGlass" android:parentActivityName=".MainActivity" android:label="Looking Glass"></activity>
        <activity
            android:label="IP Info"
            android:name=".IPInfo"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="AS139233 Utilities"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>